// ----------------------------------------------------------------------------
// Widget-jenkins-jobs styles
// ----------------------------------------------------------------------------
.widget-jenkins-jobs {
  background-color: lightgrey;

  .title {
    color: black;
  }

  .job {
    border-radius: 8px;
    float: left;
    margin: 4px;
    padding: 6px;
  }

  .job[data-state="aborted"],
  .job[data-state="aborted_anime"] {
    background-color: grey;
  }

  .job[data-state="blue"],
  .job[data-state="blue_anime"] {
    background-color: green;
  }

  .job[data-state="red"],
  .job[data-state="red_anime"] {
    background-color: red;
  }
}
